name: CI used by pull_request

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Preparation
        uses: ./.github/actions/build

      - name: build
        run: |
          pnpm build

