name: Metric and Commit Results

on:
  schedule:
      - cron: '0 0 * * *'  # Runs at 00:00 UTC every day
  workflow_dispatch:     # Allows manual triggering of the workflow

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout rolldown metric repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'rolldown/metric'
          ref: 'main'
          persist-credentials: true # required by `git push` below

      - name: Preparation
        uses: ./.github/actions/build

      - name: Run benchmarks
        run: |
          pnpm build
          node scripts/index.mjs  # Replace with your script name

      - name: Commit benchmark results
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add metric.json
          git commit -m "Update benchmark results

          skip-checks: true"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
